@font-face {
    font-family: "UthmanicQaloun\ V21";
    /* Choose a suitable font name */
    src: url('../../fonts/UthmanicQaloun\ V21.ttf') format('truetype');
    /* Adjust the path to your font file */
    font-weight: normal;
    font-style: normal;
}

.Sewar {
    padding-top: 140px;
}


.sewarBoxes {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media(max-width:450px) {
    .sewarBoxes {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
}

.soraBox {
    height: 73px;
    border-radius: 9px;
    padding: 14px;
    transition: 0.2s;
}

.soraBox:hover {
    border-color: #0075ff !important;
}

.soraBox:hover,
.soraBoxActiv {
    border-color: #0075ff !important;
}

.soraBox:hover .ayahsCount,
.soraBoxActiv {
    color: #0075ff !important;
}

.soraBoxActiv span {
    color: #0075ff !important;
}

.soraBox:hover .soraNumberDiv {
    background-color: #0075ff !important;
}

.soraBoxActiv .soraNumberDiv {
    background-color: #0075ff !important;
}

.soraBox:hover .soraNumber {
    color: white !important;
}

.soraBoxActiv .soraNumber {
    color: white !important;
}

.soraBox:hover .soraName {
    color: #0075ff !important;
}

.ayahsCount {
    color: #666;
    font-size: 1.125rem;
    font-weight: 500;
}

.soraName {
    font-size: 30px;
    font-weight: 500;
}

.soraDet {
    display: flex;
    align-items: center;
    gap: 25px;
}

.soraNumberDiv {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: -45deg;
    transition: 0.2s;
}

/* .soraNumSpecial {
    z-index: -1;
} */


.soraNumber {
    font-weight: 500;
    font-size: 18px;
    color: black;
    rotate: 45deg;
}

a {
    text-decoration: none;
}

/* .divShow button {
    color: rgb(121, 85, 72);
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(255 240 235);
    transition: 0.2s;

    border-radius: 10px;
} */

.divShow button:hover {
    background-color: rgb(121, 85, 72);
    color: rgb(255 240 235) !important;
}

.Sora {
    padding: 60px 0;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    transition: margin 0.3s;
    margin-top: 15px;
}

.soraMargin0 {
    margin-right: 0;
}

.soraContent {
    width: 650px;
    margin-top: 35px;
}

.Sora p {
    font-family: "UthmanicQaloun\ V21";
    word-wrap: break-word;
    text-align: center;
    word-spacing: 5px;
    line-height: 1.6;
}

.soraPage {
    margin-bottom: 25px;
    padding-bottom: 35px;
}

.besmAllah {
    margin-bottom: 100px;
}

.besmAllah h2 {
    font-family: 'alfont_com_AlFont_com_pdms-saleem-quranfont';
    font-size: 45px;
}

.ayahSpan:hover {
    cursor: pointer;
}

.hoverAyahDark {
    background-color: rgb(44 46 54);
}

.hoverAyahLight {
    background-color: rgb(244, 244, 244);
}

.ayahClicked {
    color: #0075ff;
    font-weight: bold;
    background-color: rgb(244, 244, 244);
}

.ayahClickedDark {
    color: #0075ff;
    font-weight: bold;
    background-color: rgb(44 46 54);
}

.ayahClickedLight {
    color: #0075ff;
    font-weight: bold;
    background-color: rgb(244, 244, 244);
}

.soraMainName {
    margin-bottom: 40px;
}

.soraMainName h1 {
    font-family: 'alfont_com_AlFont_com_pdms-saleem-quranfont';
    font-weight: 700;
}

.audioButton button {
    border: none;
    color: green;
    font-size: 17px;
    font-weight: 600;
    background-color: #eeffee;
    margin-bottom: 10px;
    padding: 4px 9px;
    border-radius: 8px;
}

.audioStop {
    color: red !important;
    background-color: #FFEBEE !important;
}


.soraSideBar {
    border-left: 1px solid;
    width: 25%;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    transition: transform 0.2s ease-in-out;
    padding: 115px 10px;
    z-index: 1000;
}

.sideBarIsVisible {
    padding: 115px 10px;
}

.sideBarIsNotVisible {
    padding: 45px 10px;
}

.sideHide {
    transform: translateX(100%);
}

.scrolll {
    height: 100vh;
    padding-bottom: 100px;
}

.sideBarSoraNameDiv {
    height: 84%;
    overflow-y: auto;
    padding-bottom: 28px;
}

.sideBarSoraNameDiv::-webkit-scrollbar {
    width: 10px;

}

.sideBarSoraNameDiv::-webkit-scrollbar-track {
    background-color: white;
}

.sideBarSoraNameDiv::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 15px;
}

.sideBarInput {
    margin-bottom: 45px;
    width: 100%;
}

.sideBarInput input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 7px
}

.mainSoraLink {
    padding: 10px;
    cursor: pointer;
    display: block;
    border-radius: 8px;
    transition: 0.2s;
}

.mainSoraLink.active,
.mainSoraLink:hover {
    background-color: #0075ff;
    color: white !important;
}

.mainSoraLink>span {
    margin-right: 20px;
}

.nextButtons a {
    border: none;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 7px;
    transition: 0.2s;
    border: 1px solid #0075ff;
}

.nextButtons a:hover {
    background-color: white !important;
    color: #0075ff !important;
}


.tafseerBtn {
    width: 200px;
    height: 45px;
    background-color: white;
    box-shadow: 0px 0px 19px -9px;
    font-size: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    right: 22%;
}

.tafseerBtn button {
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    font-size: 23px;
    font-weight: 600;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.tafseerBtn button:hover {
    background-color: #0075ff;
    color: white;
    font-size: 23px;
    font-weight: 600;
}

.tafseerBtn .ii {
    position: absolute;
    right: -13px;
    top: -10px;
    color: red;
    cursor: pointer;
}

.visible {
    display: flex;
}

.hide {
    display: none;
}

.spanTitleTafseer,
.spanTitleTa48eel {
    background-color: black;
    color: white;
    /* width: 10px; */
    display: none;
    width: 45px;
    height: 45px;
    font-size: 17px;
    height: 30px;
    border-radius: 6px;
    margin-top: 10px;
    position: relative;
}

.spanTitleTafseer::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid black;
    left: 50%;
    transform: translateX(-50%);
}

.spanTitleTa48eel::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid black;
    left: 50%;
    transform: translateX(-50%);
}

.btnTafseer:hover .spanTitleTafseer {
    display: block;
}

.btnTa48eel:hover .spanTitleTa48eel {
    display: block;
}

.ayahSpan {
    position: relative;
}


.tafseerBox {
    width: 50%;
    height: 85%;
    background-color: white;
    z-index: 1000;
    bottom: 0;
    position: fixed;
    box-shadow: 0px 0px 20px -11px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}

.boxVisible {
    transform: translateY(0);
}

.tafseerBoxCloseBtn button {
    border: none;
    background-color: transparent;
    padding: 8px;
    border-radius: 25px;
    font-size: 22px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}


.tafseerBoxCloseBtn button:hover {
    background-color: #c0c0c0;
}

.tafseerBoxCloseBtn {
    padding: 10px;
    width: 20px;
}


@media(max-width:910px) {
    .soraSideBar {
        width: 70% !important;
    }

}


@media(max-width:555px) {
    .soraContent {
        width: 500px;
    }

    .Sora p {
        font-size: 27px;
    }

}

@media(max-width:555px) {

    .Sora {
        margin-right: 0;
    }

    .soraContent {
        width: 90%;
        margin: auto;
    }

    .besmAllah h2 {
        font-size: 40px;
    }

    .audioButton button {
        font-size: 15px;
    }


    .soraSideBar {
        width: 85% !important;
    }

    .tafseerBtn {
        right: 5%;
    }
}

.sideBarCloseBtn {
    padding: 11px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    direction: rtl;
}

.sideBarCloseBtn button {
    border: none;
    background-color: transparent;
    padding: 8px;
    border-radius: 25px;
    font-size: 22px;
    width: 30px;
    height: 30px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarCloseBtn button:hover {
    background-color: #c0c0c0;
}

.boxContent {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.boxAyah {
    color: #0075ff;
    font-weight: bold;
    background-color: rgb(244, 244, 244);
    font-size: 25px;
    font-family: "UthmanicQaloun\ V21";
    padding-bottom: 15px;
}


.boxTafseer {
    font-size: 25px;
    word-spacing: 7px;
    font-weight: 600;
}

@media(max-width:1000px) {
    .tafseerBox {
        width: 70%;
    }
}

@media(max-width:790px) {
    .tafseerBox {
        width: 75%;
    }
}

@media(max-width:690px) {
    .tafseerBox {
        width: 85%;
    }
}

@media(max-width:620px) {
    .tafseerBox {
        width: 90%;
    }
}

@media(max-width:560px) {
    .Sora {
        display: block;
    }

    .tafseerBox {
        width: 100%;
        left: 0;
        right: 0;
    }

    .nextButtons a {
        padding: 5px 5px;
    }

    .nextButtons span {
        font-size: 12px;
    }
}

.btnOfSideBar {
    top: 58px;
    position: absolute;
    left: -41px
}

.btnOfSideBar button {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderDivSora {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.linkForMore a,
button {
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 10px;
}

.linkForMore button {
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 10px;
}

.linkForMore a,
button.dark {
    background-color: rgb(37, 48, 59);
}

.linkForMore a,
button.light {
    background-color: rgba(0, 117, 255, 0.29);
}

.linkHome:hover {
    transition: 0.2s;
    color: #0075ff !important;
}

.ayaheng {
    font-family: 'Noto Sans Arabic',
        sans-serif !important;

    font-size: 25px !important;
    text-align: center !important;
    word-spacing: 0px !important;
    line-height: 1.6 !important;
}

@media (max-width:600px) {
    .h2Eng {
        font-size: 25px !important;
    }
}

.f30px {
    font-size: 30px !important;
}

.f35px {
    font-size: 40px !important;
}

.f40px {
    font-size: 45px !important;
}

.btnDisable {
    opacity: 0.3;
    cursor: not-allowed !important;
}

@media (max-width:555px) {
    .f30px {
        font-size: 25px !important;
    }

    .f35px {
        font-size: 30px !important;
    }

    .f40px {
        font-size: 33px !important;
    }

    .soraContent {
        width: 100%;
    }

    .divSettingsSora {
        display: block !important;
        padding: 0 10px;
    }

    .plusFontSizeDiv {
        margin: 20px 0;
        justify-content: stretch !important;
        gap: 25px !important;
    }

    .divSettingsH {
        padding: 0 10px;
    }
}

.plusFontSizeDiv button {
    background-color: #0075ff;
    padding: 0;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.plusFontSizeDiv {
    gap: 10px;
}