@font-face {
    font-family: '_PDMS_Saleem_QuranFont\ Regular';
    src: url('../../fonts/_PDMS_Saleem_QuranFont\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.landing {
    width: 100%;
    height: 470px;
    position: relative;
    margin-top: 60px;
}

.landing button {
    border: none;
    background-color: #0075ff;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 13px 26px;
}


.landing-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.landing-img img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.landingTitle {
    font-family: "_PDMS_Saleem_QuranFont\ Regular";
    margin-right: 20px;
    font-size: 70px;
    color: white;
}

.landing-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b5;
    /* background-color: #1f72d399; */
}



.landing .landing-text {
    text-align: center !important;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

@media (max-width:900px) {
    .landing p {
        width: 600px;

    }
}

.landing input {
    border: none;
    width: 100%;
    border-radius: 9px;
    outline: none;
    padding: 10px 27px;
    height: 60px;
    border-radius: 40px;
}

.inpDiv {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    margin-top: 96px;
}

.inpMainDiv {
    width: 45%;
    height: 165px;
    border-radius: 9px;
    gap: 30px;
    padding: 20px;
}

.inpDiv p {
    margin: 0;
}

.inpDivLinks {
    width: 100%;
    padding: 0 40px;
}

.inpDivLinks a {
    color: black;
    padding: 5px 36px;
    border-radius: 12px;
}

.searchBox {
    width: 100%;
    background-color: black;
    background-color: white;
    position: relative;
    z-index: 1000;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    top: -72px;
}

.searchBox div {
    max-height: 300px;
    overflow-y: auto;
    padding: 0 10px;
    width: 50%;
    overflow-x: hidden;
}

.searchMainLink {
    display: block;
    padding: 10px;
    color: black;
    border-radius: 10px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchMainLink:hover {
    background-color: #f4f5f6;
}

.hide {
    display: none;
}

.visibleSearchBox {
    display: flex;
    justify-content: space-between;
}

.searchBox div::-webkit-scrollbar {
    width: 5px;

}

.searchBox div::-webkit-scrollbar-track {
    background-color: rgb(240, 240, 240);
}

.searchBox div::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 15px;
}

.fastLinks {
    display: flex;
    align-items: center;
    height: 55px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fastLinks a {
    padding: 7px 20px;
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    color: black;
}


@media(max-width:1170px) {
    /* .fastLinks a {
        padding: 7px 10px;
        font-size: 15px;
    } */

    .inpMainDiv {
        width: 55%;
    }
}

@media(max-width:800px) {

    .inpMainDiv {
        width: 70%;
    }
}

@media(max-width:650px) {

    .inpMainDiv {
        width: 85%;
    }
}

@media(max-width:520px) {

    .inpMainDiv {
        width: 91%;
        padding: 20px 0;
    }
}

@media(max-width:490px) {

    .inpMainDiv {
        width: 98%;
    }

    .fastLinks {
        flex-wrap: wrap;
        gap: 10px;
    }

    .fastLinks a {
        font-size: 12px;
        font-weight: 600;
        padding: 7px 15px;
    }

    .searchBox a {
        font-size: 14px;
    }

    .landDesc p {
        font-size: 12px;
    }
}

.searchInputDiv i {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #0075ff;
    font-size: 20px;
}