.mainRec {
    padding-top: 40px;
}



.recDiv {
    display: flex;
    flex-wrap: wrap;
}

.audio {
    position: fixed;
    width: 100%;
    top: 91%;
    transition: 0.3s;
}

.audioFalse {
    position: fixed;
    width: 100%;
    top: 100%;
}



.cancelAudio {
    position: fixed;
    top: 87%;
    right: 30px;
    transition: 0.3s;
}

.cancelAudio button {
    border: none;
    padding: 5px 10px;
    color: red;
}

.w70 {
    width: 70%;
}


.recDivSearch input {
    width: 60%;
}

.recDivSearch {
    margin-top: 60px;
}

.landing .landing-text {
    top: 40%;
}