.mainRec {
    padding-top: 40px;
}



.recDiv {
    display: flex;
    flex-wrap: wrap;
}

.audio {
    position: fixed;
    width: 100%;
    top: 91%;
    transition: 0.3s;
}

.audioFalse {
    position: fixed;
    width: 100%;
    top: 125%;
}



/* .cancelAudio {
    position: fixed;
    top: 87%;
    right: 30px;
    transition: 0.3s;
} */

.cancelAudio button {
    border: none;
    padding: 5px 10px;
}

.w70 {
    width: 70%;
}


.recDivSearch input {
    width: 60%;
}

@media(max-width:550px) {
    .recDivSearch input {
        width: 100% !important;
    }
}

.recDivSearch {
    margin-top: 60px;
}

.landing .landing-text {
    top: 40%;
}

.downLoadBtn {
    padding: 10px;
    border-radius: 30px;
    transition: 0.2s;
}

.downLoadBtn:hover {
    background-color: #363636;
}

.btnDownLoadDiv {
    position: absolute;
    top: 25%;
}

.downLeft {
    left: 0;
}

.downRight {
    right: 0;
}

.opaa {
    opacity: 0.2;
    cursor: not-allowed;
}