.progress-bar-container {
    position: fixed;
    left: 0;
    top: 123px;
    width: 100%;
    height: 7px;
    background-color: #ddd;
    /* Background color of the progress bar container */
}

/* .progress-bar-container-visible {
    position: fixed;
    transition: position 0.3s ease-in-out;

    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    z-index: 1000;
}


.progress-bar-container-hidden {
    position: fixed;
    transition: transform 0.3s ease-in-out;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    z-index: 1000;
} */

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    /* Color of the progress bar */
    transition: width 0.3s ease;
    /* Smooth transition effect for the progress bar */
}