.preloader {
    height: 100vh;
    /* height: calc(var(--vh, 1vh) * 100); */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37 42 46);
    flex-direction: column;
}

.preloaderText {
    font-size: 60px;
    color: #0075ff;
    font-family: 'alfont_com_AlFont_com_pdms-saleem-quranfont';
}

.ruknSpan {
    display: inline-block;
    animation: preloaderRukn 1s 1 alternate forwards;
}

.quranSpan {
    display: inline-block;
    transform: translateX(-620%);
    animation: preloaderQuran 1s 1 alternate forwards;
}

.bySpan {
    display: inline-block;
    position: relative;
    transform: translateY(1700%);
    margin-top: 10px;
    color: #6e7681;
    animation: madeBy 1s 0.5s 1 alternate forwards;
}

@keyframes preloaderQuran {

    from {
        transform: translateX(-620%);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes preloaderRukn {

    from {
        transform: translateY(-600%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes madeBy {

    from {
        transform: translateY(1700%);
    }

    to {
        transform: translateY(0);
    }
}